API_HOST=0.0.0.0
API_PORT=8000
API_DEBUG=0
API_BASE_PATH=/v3
API_DATA_DIR=data
API_CORS_ORIGINS=
API_SETUP_KEY=
API_BF_MAX_FAILURES=
API_BF_WINDOW_SECS=
API_KEY=
SQUARECLOUD_API_TOKEN=
SQUARECLOUD_APP_ID=
SITE_URL=